EMAIL=email.com
PASSWORD=myemailpassword
CUSTOM_GOOGLE_APPLICATION_CREDENTIALS=google_credentias.json
REDIS_URL=redis://localhost:6379/0

MEDIA_URL= /media/
SFTP_STORAGE_HOST=localhost

POSTGRES_HOST=localhost
POSTGRES_PORT=5432
POSTGRES_DB=dbproyecto
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
