# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class
*.pyc
# Caché de archivos de compilación
*.mo

# Directorio de archivos de medios
/media/

# Entorno virtual
env/
venv/

# Archivo de registro de Django
*.log

# Archivos de base de datos
*.sqlite3
*.db

# Otros archivos generados por Django
*.pyc

# Carpeta de migraciones de Django
*/migrations/*
!*/migrations/__init__.py
media/

# Archivos de configuración específicos de tu IDE o editor de texto
.idea/
.vscode/
.env

Jenkinsfile

pgnotifications-ef40d-firebase-adminsdk-6p3na-b98e453095.json
ponteglam-8741d-firebase-adminsdk-twbfr-ee152a3d39.json
postgres.key
pgg.key

# Archivos del sistema
.DS_Store
Thumbs.db

# Estáticos recopilados
static_collected/

# Otros posibles entornos virtuales
.venv/


